body{
    background-color: #062863;
}
.header{
    margin: 70px auto;
    margin-bottom: 10px;
    text-align: center;

}
.container{
    background-color: whitesmoke;
    margin: 30px auto;
    width: 350px;
    border-radius: 0px 20px 20px 0px ;
    padding: 30px;
}

.container .title{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #062863;

}
.container .welcomenote{
    margin-top: 0px;
    text-align: center;
}

.note{
    text-align: center;
    color: #FFFFFF;
}

.container .form .input_field{
    position: relative;
    margin-bottom: 10px;
}

.container .form .input_field .input{
    width: 100px;
    padding: 15px;
    padding-left: 10px;
    padding-right: 200px;
    border: none;
    background: #eeeeee;
}
.container .form .button{
    width: 70%;
    margin: 20px auto;
    background:#062863;
    padding: 15px;
    text-align: center;
    border-radius: 5px 5px 5px 0px;
    color: white;

}



